<form id="contactUsForm" class="form-custom-modal form-custom">
    <div class="row">
        <div class="form-group col-12 wow animate__animated animate__fadeInUp">
            <input class="form-control" id="inputName" type="text" name="user-name">
            <label for="inputName">Your name</label>
            <div class="error-text" style="display: none"></div>
        </div>

        <div class="form-group col-12 wow animate__animated animate__fadeInUp">
            <input type="email" class="form-control" id="inputEmailAddress" name="email">
            <label for="inputEmailAddress">Email</label>
            <div class="error-text" style="display: none"></div>
        </div>
    </div>

    <button type="submit" class="btn btn-main-color btn-send wow animate__animated animate__fadeInUp">Send</button>

</form>